@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
    color: #333;
    animation: colorChange 10s infinite;
}

#header {
    width: 80%;
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    animation: fadeIn 2s ease-in;
}

.title {
    color: #6c757d;
}

.content {
    width: 80%;
    margin: 20px;
    padding: 20px;
    border: 1px solid #dee2e6;
    animation: fadeIn 2s ease-in;
}

#external-link {
    display: block;
    text-align: center;
    color: #007bff;
    text-decoration: none;
    margin: 20px 0;
}

#external-link:hover {
    color: #0056b3;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    animation: fadeIn 2s ease-in;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes colorChange {
    0% {background-color: #f0f0f0;}
    50% {background-color: #e0e0e0;}
    100% {background-color: #f0f0f0;}
}